:root {
  --search-col: #4f46e5;
  --background: #f3f4f7;
  --card: #ffffff;
  --text: black;
  --border: #ddd;

  --radius: 5px;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 1rem;
  background: var(--background);
  color: var(--text);
}

main {
  display: flex;
  gap: 1rem;
}


.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}



.filters {
  width: 250px;
  background: var(--card);
  padding: 1rem;
  border-radius: var(--radius);
}

.filters input,
.filters select {
  width: 100%;
  margin-bottom: 0.5rem;
  padding: 0.5rem;
}



.products {
  flex: 1;
}

.products-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.product-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.product-card {
  background: var(--card);
  padding: 1rem;
  border-radius: var(--radius);
  border: 1px solid var(--border);
}



.form-page {
  display: flex;
  justify-content: center;
}

.game-form {
  width: 400px;
  background: var(--card);
  padding: 1rem;
  border-radius: var(--radius);
}

.game-form input,
.game-form textarea {
  width: 100%;
  margin-bottom: 0.75rem;
  padding: 0.5rem;
}



button,
.add-button {
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: var(--radius);
}

.search-button {
  background: var(--search-col);
  color: white;
  border-color: #4f46e5;
}



@media (max-width: 768px) {
  main {
    flex-direction: column;
  }

  .filters {
    width: 100%;
  }

  .product-list {
    grid-template-columns: 1fr;
  }

  .game-form {
    width: 100%;
  }
}
